### Python Useful Stuff
* Enumerate
* Zip
* zip_longest

### Enumerate

Using enumerate function (Python built-in function) we can assign a unique index of each object.
By default, index will starts from 0, if you want to change the starting position of index then you can.

Note: Each item of enumerate (index, number) will be in tuple.

In [1]:
lst = [12,67,89,23,45,78,90,34,45,78,12,34,56,78,34,56,90,78,34,56,56,78]

In [2]:
lst.count(78)

5

In [3]:
lst.count(45)

2

In [4]:
enumerate(lst)

In [5]:
# above line is creating an object which contain index and its number

In [6]:
# how to retrieve the value from above object using data structure and using loop

In [7]:
print(list(enumerate(lst)))

[(0, 12), (1, 67), (2, 89), (3, 23), (4, 45), (5, 78), (6, 90), (7, 34), (8, 45), (9, 78), (10, 12), (11, 34), (12, 56), (13, 78), (14, 34), (15, 56), (16, 90), (17, 78), (18, 34), (19, 56), (20, 56), (21, 78)]

In [11]:
for pair in enumerate(lst):
    if pair[-1] == 78:
        print(pair[0], end = " ")

5 9 13 17 21

In [13]:
print(list(enumerate("Abhisheak")))

[(0, 'A'), (1, 'b'), (2, 'h'), (3, 'i'), (4, 's'), (5, 'h'), (6, 'e'), (7, 'a'), (8, 'k')]

In [14]:
print(list(enumerate("Abhisheak",100)))

[(100, 'A'), (101, 'b'), (102, 'h'), (103, 'i'), (104, 's'), (105, 'h'), (106, 'e'), (107, 'a'), (108, 'k')]

In [15]:
tuple(enumerate("Python"))

((0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n'))

In [16]:
set(enumerate("python"))

{(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')}

In [17]:
dict(enumerate("Python"))

{0: 'P', 1: 'y', 2: 't', 3: 'h', 4: 'o', 5: 'n'}

In [20]:
print("Great")
print()
print("Learning")

Great

Learning

In [21]:
print("Great", end = " | ") # by default end = "\n"
print("Learning")

Great | Learning

In [22]:
for i in range(5):
    print(i, end = "\n")

0
1
2
3
4

In [23]:
for i in range(5):
    print(i, end = " ")

0 1 2 3 4

### Zip

Using this function we can combine more than 1 iterable object or data structure, It will also create an object like enumerate function.

Zip always works on shortest iterable and return the output in the form of tuple object like enumerate.

In [24]:
lst1 = [1,3,5,6,8,9]
lst2 = [4,7,9,0]

In [25]:
zip(lst1,lst2)

In [26]:
list(zip(lst1,lst2))

[(1, 4), (3, 7), (5, 9), (6, 0)]

In [27]:
lst1 = [1,3,5,6,8,9]
lst2 = [4,7,9,0]
lst3 = [4,5,6,7,8,9,0]
lst4 = [11,12]

In [28]:
list(zip(lst1,lst2,lst3,lst4))

[(1, 4, 4, 11), (3, 7, 5, 12)]

In [32]:
dict(zip(lst1,lst2))

{1: 4, 3: 7, 5: 9, 6: 0}

In [34]:
lst1 = [1,3,5,6,8,9]
lst2 = [4,7,9,0]
lst3 = [4,5,6,7,8,9,0,11]
lst4 = [11,12]

In [35]:
from itertools import zip_longest

In [36]:
list(zip_longest(lst1,lst2,lst3,lst4))

[(1, 4, 4, 11),
 (3, 7, 5, 12),
 (5, 9, 6, None),
 (6, 0, 7, None),
 (8, None, 8, None),
 (9, None, 9, None),
 (None, None, 0, None),
 (None, None, 11, None)]

In [39]:
list(zip_longest(lst1,lst2,lst3,lst4, fillvalue = "-"))

[(1, 4, 4, 11),
 (3, 7, 5, 12),
 (5, 9, 6, '-'),
 (6, 0, 7, '-'),
 (8, '-', 8, '-'),
 (9, '-', 9, '-'),
 ('-', '-', 0, '-'),
 ('-', '-', 11, '-')]

In [40]:
list(zip_longest(lst1,lst2,lst3,lst4, fillvalue = 0))

[(1, 4, 4, 11),
 (3, 7, 5, 12),
 (5, 9, 6, 0),
 (6, 0, 7, 0),
 (8, 0, 8, 0),
 (9, 0, 9, 0),
 (0, 0, 0, 0),
 (0, 0, 11, 0)]

In [41]:
print(zip_longest.__doc__)

zip_longest(iter1 [,iter2 [...]], [fillvalue=None]) --> zip_longest object

Return a zip_longest object whose .__next__() method returns a tuple where
the i-th element comes from the i-th iterable argument.  The .__next__()
method continues until the longest iterable in the argument sequence
is exhausted and then it raises StopIteration.  When the shorter iterables
are exhausted, the fillvalue is substituted in their place.  The fillvalue
defaults to None or can be specified by a keyword argument.

In [42]:
print(list.extend.__doc__)

Extend list by appending elements from the iterable.

In [43]:
list.extend?

### Python String:

https://youtu.be/q6F2rjb8zXM?si=zu3Z0s87apUSqzBk

In [44]:
import os

In [45]:
os.getcwd()

'C:\\Users\\AEPAC\\Desktop\\GL\\Python\\Week 1 - Operators and Data Structures - Inclass Exercise\\Week 1'