<table align="left" width=100%>
    <tr>
        <td width="20%">
            <img src="GL-2.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                  <b> Faculty Notebook <br> (Week- 1) </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content

1. **[Python Operators](#oper)**
    - 1.1 - [Arithmetic Operator](#arith)
    - 1.2 - [Comparison Operator](#comp)
    - 1.3 - [Assignment Operator](#assign)
    - 1.4 - [Logical Operator](#logic)
    - 1.5 - [Membership Operator](#member)
    - 1.6 - [Bitwise Operator](#bitwise)
2. **[Python Flow Control](#pfc)**
    - 2.1 - [if - statement](#condition)
    - 2.2 - [while- loop](#while)
    - 2.3 - [for- loop](#for)
3. **[Pseudocode](#pseudo)**
4. **[Introduction to List](#list)**
5. **[Introduction to Tuple](#tuple)**
6. **[Introduction to Dictionary](#dictionary)**
7. **[Introduction to Sets](#sets)**

<a id="oper"> </a>
## Python Operators


<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br>Operators are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the operand.<br>
                        <br>Python Operator falls into following categories:
                        <br>1. Arithmetic Operator
                        <br>2. Comparison Operator
                        <br>3. Assignment Operator
                        <br>4. Logical Operator
                        <br>5. Membership Operator
                        <br>6. Bitwise Operator
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<a id="arith"> </a>
### Arithmetic Operator
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [1]:
a = 12
b = 2
# '+' Operator
print('a + b =',a+b)                  # Prints addition of a and b

# '-' Operator
print('a - b =',a-b)                  # Prints subtraction of  a and b

# '*' Operator
print('a * b =',a*b)                  # Prints multiplication of  a and b

# '%' Operator
print('a % b =',a%b)                  # Prints remainder of division between a and b

# '/' Operator
print('a / b =',a/b)                  # Prints division of  a and b

# '//' Operator
print('a // b =',a//b)                # Prints the interger value of the division between a and b 

# '**' Operator
print('a ** b =',a**b)                # Prints the result of a to the power b

a + b = 14
a - b = 10
a * b = 24
a % b = 0
a / b = 6.0
a // b = 6
a ** b = 144

<a id="comp"> </a>
### Comparison Operator
Comparison Operator carries out the comparison between operands. They tell us whether an operand is greater than the other, lesser, equal, or a combination of those. It either returns <em>True</em> or <em>False</em> according to the condition.

In [2]:
a = 10
b = 20

# '>' Operator
print('a > b  is',a>b)                 # Prints False since a is smaller than b

# '<' Operator
print('a < b  is',a<b)                 # Prints True since a is smaller than b

# '==' Operator
print('a == b  is',a==b)                 # Prints False since a and b are not equal

# '!=' Operator
print('a != b  is',a!=b)                 # Prints True since a is not equal to b

# '>=' Operator
print('a >= b  is',a>=b)                 # Prints False since a is not smaller nor equal to b

# '<= y' Operator
print('a <= b  is',a<=b)                 # Prints True since a is smaller than b

a > b  is False
a < b  is True
a == b  is False
a != b  is True
a >= b  is False
a <= b  is True

<a id="assign"> </a>
### Assignment Operator
An assignment operator assigns a value to a variable. It may manipulate the value by a factor before assigning it.

In [3]:
# '=' Operator
x = 5                                 # Assigns the value to the variable on the left
print("x = ", x)

# '+=' Operator                 
x += 5 
print("Updated value of x after (x += 5) is", x)     # Adds the values on either side and assigns it to the expression on the left. x+=5 is the same as x=x+5.

# '-=' Operator
x -=2
print("Updated value of x after (x -=2) is", x)     # Subtracts 2 from the latest value of x and assigns it to x(which is 10).

# '*=' Operator
x *= 2
print("Updated value of x after (x *= 2) is", x)     # Multiplies the current value of x with 2 and assigns the result to the same variable

# '/=' Operator
x /= 4 
print('Updated value of x after (x /= 2) is', x)     # Divides the current value of x with 4 and assigns the result to the same variable

x =  5
Updated value of x after (x += 5) is 10
Updated value of x after (x -=2) is 8
Updated value of x after (x *= 2) is 16
Updated value of x after (x /= 2) is 4.0

<em>i+=1 is the same as i=i+1, whereas i=+1 just means i=(+1)</em>

<a id="logic"> </a>
### Logical Operators
Logical operators are like conjunctions that you can use to combine more than one condition. We have three Python logical operator â€“ **<em>and</em>**, **<em>or</em>**, and **<em>not</em>** that come under python operators.

#### 'and' Operator
If the conditions on both the sides of the operator are true, then the expression as a whole is true.

In [4]:
x = 11
a = x>10 and x<20
print(a)

True

Here both the conditions are satisfied. Therefore we have True as the output.

In [5]:
x = 11
a = x>10 and x==12
print(a)

False

Here one of the condition is not satisfied. Therefore we have False as the output.

#### 'or' Operator
The expression is false only if both the statements around the operator are false. Otherwise, it is true.

In [6]:
x = 11
a = x>10 or x==20
print(a)

True

Here one of the condition is satisfied. Therefore we have True as the output.

In [7]:
x = 11
a = x>12 or x==20
print(a)

False

None of the above condition is True. Therefore we have False as the output

#### 'not' Operator
It converts True to False, and False to True. So, basically, <em>not</em> inverts the Boolean value of an expression

In [8]:
x = 11
a = x>12 or x==20
print(not a)

True

Since both the conditions are false in the above code, False is stored in <em>a</em> and finally the not operator inverts False to True

<a id="member"> </a>
### Membership Operator

Membership operators tests whether a value is a member of a sequence. The sequence may be a list, a string, a tuple, or a dictionary. <br>
<br><em>in</em> and <em>not in</em> are the membership operators in Python. The output is in terms of True or False.

In [9]:
# String
a = 'Great Learning'

# Output: True
print('L' in a)

# Output: False
print('O' in a)

True
False

<a id="bitwise"> </a>
### Bitwise Operator

These operators perform bit by bit operations on the operands.

In [10]:
a = 10
b = 7

# Bitwise and(&) operator
print(a & b)              # binary for 10 is 1010 and binary for 7 is 111. If we & each bit we get 0010. which is 2

# Bitwise or(|) operator
print(a | b)              # binary for 10 is 1010 and binary for 7 is 111. If we | each bit we get 1111, which is 15

# Bitwise xor(^) operator
print(a^b)                # binary for 10 is 1010 and binary for 7 is 111. If we ~ each bit we get 1101, which is 13

# Bitwise Oneâ€™s Complement(~) operator. Python One's complement of a number â€˜Aâ€™ is equal to -(A+1)
print(~a)                 # binary for 10 is 1010. One's complement for 1010 is -(1010+1) --> -(1011), which is -11

# Bitwise left shift(<<) operator 
print(a<<2)               # binary for 10 is 1010 and <<2 will convert 1010 to 101000 which is 40

# Bitwise left shift(<<) operator 
print(a>>2)               # binary for 10 is 1010 and >>2 will convert 1010 to 10 which is 2

2
15
13
-11
40
2

<a id="pfc"> </a>
## Python flow control
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br>A programâ€™s control flow is the order in which the programâ€™s code executes. The control flow of a Python program is regulated by: <br>
                        <br>1. Conditional Statements
                        <br>2. Loops, and 
                        <br>3. Function Calls
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

<td width="15%">
            <img src="control.png">
</td>

The **selection** structure tests a condition, then executes one sequence of statements instead of another, depending on whether the condition is true or false. A condition is any variable or expression that returns a BOOLEAN value (TRUE or FALSE).<br><br>
The **iteration** structure executes a sequence of statements repeatedly as long as a condition holds true.<br><br>
The **sequence** structure simply executes a sequence of statements in the order in which they occur.<br><br>

<a id="condition"> </a>
### The if- statement
You might want to execute some statements only if some condition holds, or choose statements to execute depending on several mutually exclusive conditions. The Python compound statement if, which uses if, elif, and else clauses, lets you conditionally execute blocks of statements.

#### Syntax:
<em>if test_expression1:
<br> &emsp;&emsp;statement(s)</br>
<br>elif test_expression2:
<br>&emsp;&emsp;    statement(s)
<br>elif test_expression3:
<br>&emsp;&emsp;    statement(s)
<br>.
<br>.
<br>.
<br>else:
 <br>&emsp;&emsp;   statement(s)

In [11]:
x = 5
if x < 0: 
    print ("x is negative")
elif x % 2: 
    print ("x is positive and odd")
else: 
    print ("x is even and non-negative")

x is positive and odd

<a id="while"> </a>
### The while- Loop
A while loop is a control flow statement that allows code to be executed repeatedly based on a given Boolean condition. The while loop can be thought of as a repeating if statement.

#### Syntax:
<em>while test_expression:
<br> &emsp;&emsp;statement(s)
</em>
<br><br>First, test_expression, which is known as the loop condition, is evaluated. If the condition is false, the while statement ends. If the loop condition is satisfied, the statement or statements that comprise the loop body are executed. When the loop body finishes executing, the loop condition is evaluated again, to see if another iteration should be performed. This process continues until the loop condition is false, at which point the while statement ends.

In [12]:
n = 10

# initialize sum and counter
sum = 0
i = 1

while i <= n:
    sum = sum + i
    i = i+1    # update counter

# print the sum
print("The sum is", sum)

The sum is 55

<a id="for"> </a>
### The for- Loop
The for loop in Python is used to iterate over a sequence (list, tuple, string) or other iterable objects. Iterating over a sequence is called traversal.

#### Syntax:
<em>for iterator in sequence:
<br> &emsp;&emsp;statement(s)
</em>

In [13]:
string = "I love Python "
for i in string:
    print(i)

I

l
o
v
e

P
y
t
h
o
n

#### The range() function

We can generate a sequence of numbers using <em>range()</em> function. <em>range(10)</em> will generate numbers from 0 to 9 (10 numbers). We can also define the start, stop and step size as range(start,stop,step size). step size defaults to 1 if not provided. 
<br><br>
This function does not store all the values in memory, it would be inefficient. So it remembers the start, stop, step size and generates the next number on the go.<br>

In [14]:
range(0, 10)

range(0, 10)

We can use the <em>range()</em> function in for loops to iterate through a sequence of numbers. It can be combined with the <em>len()</em> function to iterate though a sequence using indexing.

In [15]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [16]:
string = "Python Programming"

# iterate over the string using index
for i in range(len(string)):
    print(string[i])

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

<a id="pseudo"> </a>
## Pseudocode
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>
                        <br>Before you write a piece of computer code, you have to know what the program is supposed to do. It is a good idea to write it in a simple way first to ensure you have included everything you need. The best way to set this up is by using pseudocode. <br>
                    <br><br>Pseudocode is a simple way of writing programming code in English. It is not actual programming language. It uses short phrases to write code for programs before you actually create it in a specific language. Once you know what the program is about and how it will function, then you can use pseudocode to create statements to achieve the required results for your program.<br>
                        
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Pseudocode to create a program to add 2 numbers together and display the result.<br>**
<em>
<br>Read two numbers, A, B from user 
<br>Add the numbers in variable A and B
<br>Print Sum<br>
</em>

Pseudocode can be written how you want. But some companies use specific pseudocode rules to keep everyone in the company on the same page.

**Pseudocode to create a program to check if a student has cleared the exam or not.<br>**
<em>
<br>Take students grade from the user 
<br>If student's grade is greater than or equal to 60, print "pass"
<br>Otherwise print "fail"<br>
</em>

**Pseudocode to create a program to print the average marks of ten students**

<em>
<br>Set total to zero 
<br>Set grade counter to one
<br>While grade counter is less than or equal to ten
<br>&emsp;&emsp;Input the next grade
<br>&emsp;&emsp;Add the grade into the total
<br>Set the class average to the total divided by ten
<br>Print the class average.


</em>

<a id="list"> </a>
## Introduction to List
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>A python list is a collection of items that are ordered. It implements the sequence protocol, and also allows you to add and remove elements from the sequence. We can use the index in square brackets, [ ], to identify a value belonging to the list by position.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Constructing Lists

To create a list, use square brackets [] and separate items in the list with commas.
A list can be empty or contain any number of items with different data types (integers, float, strings, etc.)

In [17]:
# create an empty list
empty_list = []
empty_list

[]

Use the built-in list type object to create lists

In [18]:
# empty list
empty_list = list()
empty_list

[]

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Note that python creates a single new list every time you use the [ ] expression
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
list_1 = list_2 = [] # both names will point to the same list

list_1 = []
list_1 = list_2 # both names will point to the same list

list_1 = []; list_2 = [] # independent lists

**Note : A list can also hold another list as an element, these are called nested lists**

In [20]:
# nested list
my_list = [['Data Science','Machine Learning'],[135,232,321]]
my_list

[['Data Science', 'Machine Learning'], [135, 232, 321]]

### Accessing Elements in a List
You can access the list items by referring to the index number

**Indexing:**<br>
Use the index operator [ ]. Each element in a list has an assigned index value. Note that the indexing in python starts from 0 and every index must be an integer

Print the second item of the list

In [21]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index 1
print(course[1])

machine learning

**Negative Indexing**:<br>
Negative indexing means position count starts from the end of the list, -1 refers to the last item, -2 refers to the second last item

Print the second last item of the list

In [22]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index -2
print(course[-2])

html

**Length of List:**<br>
Use len() function to find total number of elements in a list

In [23]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print the length of the list
len(course)

5

### Slicing of a List
List uses the slicing operator : (colon) to extract part of the sequence

Return first three elements from the list

In [24]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print first three element from the list
course[:3]

['data science', 'machine learning', 'python']

Return last three elements from the list

In [25]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print last three element from the list
course[2:]

['python', 'html', 'big data']

Select elements from beginning to end

In [26]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print the all elements
course[:]

['data science', 'machine learning', 'python', 'html', 'big data']

Select first four elements

In [27]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print first four elements
course[0:4]

['data science', 'machine learning', 'python', 'html']

If all three 'start', 'stop', and 'step' are provided, it generates portion of sequence beginning from 'start' till 'stop' with increment of 'step'

In [28]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2])

[3, 5, 7]

In [29]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[7:0:-2])

[8, 6, 4, 2]

### Change Item Value
Refer to the index number to change the value of a specific item

In [30]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# change the third item
course[3] = 'statistics'

course

['data science', 'machine learning', 'python', 'statistics', 'big data']

### List Methods
Python has in-built methods that you can use on lists and arrays

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Python does not have built-in support for arrays, but python lists can be in place of arrays
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

Python has built-in methods that you can use on list:<br>
append()<br>
insert()<br>
extend()<br>
sort()<br>
del <br>
clear()<br>
remove()<br>
pop()<br>
reverse()<br>

**list.append(item)**<br>
The method list.append(item) will add the element at the end of a list

In [31]:
# define a list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course2 = ['statistics']

# add element to the list
course1.append(course2)
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistics']]

**list.insert(i, item)**<br>
This method will insert an element at the $i^{th}$ index in a list

In [32]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# insert element at 2nd index in a list
course.insert(2, 'statistics')
course

['data science',
 'machine learning',
 'statistics',
 'python',
 'html',
 'big data']

**list.extend(items)**<br>
The extend method concatenates lists

In [33]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data']

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course1.extend(course2)

course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**list.sort(key, reverse)**<br>
The sort method sorts a list in-place without creating a new object

In [34]:
# declare a numeric list
income = [2500, 25000, 10000, 50000, 20000, 5000, 17500]
# sort() function is used to sort the numeric values in the list in ascending order
income.sort()
income

[2500, 5000, 10000, 17500, 20000, 25000, 50000]

In [35]:
# set the reverse parameter to False to arrange the elements in the descending order
income.sort(reverse = True)
income

[50000, 25000, 20000, 17500, 10000, 5000, 2500]

In [36]:
# We can also sort a collection of strings by their length using the key parameter
sentence = ['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'frog']
sentence.sort(key = len)
sentence

['a', 'fox', 'the', 'over', 'lazy', 'frog', 'quick', 'brown', 'jumps']

**Deleting List Elements**<br>
Use the del keyword to delete an item at specific index

In [37]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete the third element from the list
del course[2]

# print the output
course

['data science', 'machine learning', 'html', 'big data']

In [38]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete multiple items from the list
del course[0:2]

# print the output
course

['python', 'html', 'big data']

**list.clear()**
<br>The clear method resets the list to an empty state

In [39]:
sentence = ['a', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'frog']
sentence.clear()
sentence

[]

**list.remove(item)**<br>
It will search and remove only the first occurrence of an item

In [40]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.remove('html')

course

['data science', 'machine learning', 'python', 'big data', 'html']

**list.pop()**<br>
Removes and returns the last item of a list

In [41]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.pop()

'html'

**list.reverse()**<br>
It reverses the order of the items in a list

In [42]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.reverse()

course

['html', 'big data', 'html', 'python', 'machine learning', 'data science']

### Common List Operations

**Concatenation(+)**<br>
The '+' operator is used to combine i.e. concatenate two lists

In [43]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course1 + course2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**Repetition(*)**<br>

The <b>' * '</b> operator is used to repeat a list 'n' number of times. The 'n' is specified by the user <br>
<b>Note: 'n' should be positive</b>

In [44]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course1*2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'data science',
 'machine learning',
 'python',
 'html',
 'big data']

<a id="tuple"> </a>
## Introduction to Tuple
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>A tuple is a collection of elements which are ordered. A tuple once defined cannot be modified.<br><br>
                    Tuples with elements is created by elements separated by comma surrounding round brackets.  Its actually Trailing commas that define a tuple not parentheses. Round brackets are required incase of ambiguity.
                    <br><br>
                    To iterate over the items of a tuple is faster compared to iterating over a list.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Creating Tuple
Here, we are creating few tuples

In [45]:
# tuple of strings
my_tuple = ("hello", "python", "hello", "world")
print(my_tuple)

('hello', 'python', 'hello', 'world')

In [46]:
# tuple of int, float, string
my_tuple = (123, 2.228, "hello python")
print(my_tuple)

(123, 2.228, 'hello python')

In [47]:
# tuple of string and list
my_tuple = ("python", [12, 12, 31])
print(my_tuple)

('python', [12, 12, 31])

In [48]:
# tuples inside another tuple
# nested tuple
my_tuple = ((2546, 332, 421), ("python", 63.1, "hi"))
print(my_tuple)

((2546, 332, 421), ('python', 63.1, 'hi'))

### Access Tuple Elements
Use indices to access the items of a tuple

In [49]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# access the second element from the list
my_tuple[1]

'yellow'

**Negative Indexing**<br>
In Negative indexing position counting starts from the end, -1 refers to the last element, -2 refers to the second last element of the tuple

In [50]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# print last item of the tuple
my_tuple[-1]

'blue'

**Range of Indices**<br>
Specify a range of indices by specifying the start and the end of the range.
When specifying a range, the output will be a new tuple with the specified items

In [51]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# return fourth and fifth element from the list
my_tuple[3:5]

('blue', 353)

**Range of Negative Indices**<br>
Specify negative indices to start the search from the end of the tuple

In [52]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# return the items from index -3 (included) to index -1 (excluded)
my_tuple[-3:-1]

(353, 363.2)

### Change Tuple Values
We cannot change the items of a tuple because items of tuple are immutable. However we can change the elements of nested items in a tuple that are mutable

In [53]:
my_tuple = (123, ['s', 'a', 'v'], "World")
print(my_tuple)

# changing the element of the list 
# this is valid because list is mutable
my_tuple[1][2] = 99
print(my_tuple)

(123, ['s', 'a', 'v'], 'World')
(123, ['s', 'a', 99], 'World')

In [54]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# changing the element of tuple
# This throws an error since tuple elements are immutable
my_tuple[0] = 'orange'

TypeError: 'tuple' object does not support item assignment

### Delete Operation on Tuple
We already discussed above that we cannot delete the elements of a tuple. However deleting entire tuple is possible

In [55]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [56]:
# deleting entire tuple is possible
del my_tuple

print(my_tuple)

NameError: name 'my_tuple' is not defined

### Tuple Methods

Python has built-in methods which can be used on tuples:<br>
count()<br>
index()<br>

**count()**<br>
It returns the number of times a specified element occurs in a tuple

In [57]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.count('e')

4

**index()**<br>
It searches the tuple for the first occurance of a specified element and returns the index value for that particular position

In [58]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.index('l')

3

<a id="dictionary"> </a>
## Introduction to Dictionary
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Python dictionary is an unordered collection of elements.
                    It map keys to values and these key-value pairs provide a useful way to store data in python.<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Syntax:**<br>
dictionary_name = {&nbsp;key_1: value_1,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   key_2: value_2,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    key_3: value_3,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    }

### Create Dictionary
Separate keys from values with a colon(:), and a pair from another by a comma(,). Put it all in curly braces

In [59]:
# create dictionary
balance = {
    "Mia" : 83847,
    "John" : 83837,
    "Jill" : 94766
}
print(balance)

{'Mia': 83847, 'John': 83837, 'Jill': 94766}

### Accessing Items
Use the key name inside the square brackets to access the elements from a dictionary

In [60]:
# Get the value for key "Mia" 
x = balance["Mia"]
x

83847

We can use get method to get the value of "Mia" key

In [61]:
x = balance.get("Mia")
x

83847

### Change Values
Change the value of a specific element by referring to its key name

In [62]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales

{2015: 34500, 2016: 34300, 2017: 40000}

In [63]:
# Change the sales figure for 2015
year_sales[2015] = 45000

year_sales

{2015: 45000, 2016: 34300, 2017: 40000}

**Dictionary Length**

In [64]:
# print the length of dictionary
print(len(year_sales))

3

**Adding Items**<br>
Add an item to the dictionary by using a new index key and assign a value to it

In [65]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales['2018'] = 55000

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, '2018': 55000}

### Dictionary Method

**Removing Items**<br>
Following are the methods to remove items from a dictionary:<br>
keys() method<br>
values() method<br>
items() method<br>
pop() method<br>
popitem() method<br>
del keywords<br>
clear() method<br>
copy() method<br>
update() method<br>

**keys()**

In [66]:
# declare a dictionary containing information of cars and their respective horsepowers
horsepower = {'BMW':949 , 'Mercedes':945 ,'Ferrari':954 ,'Volkswagen': 976,'Renault ':889}

Let us now check now call the keys of the dictionary

In [67]:
horsepower.keys()

dict_keys(['BMW', 'Mercedes', 'Ferrari', 'Volkswagen', 'Renault '])

It is possible to check whether a key belongs to the dictionary or not using the keyword 'in'

In [68]:
'Honda' in horsepower

False

In [69]:
'BMW' in horsepower

True

**values()**

Let us now check the values for all the keys in the dictionary

In [70]:
horsepower.values()

dict_values([949, 945, 954, 976, 889])

However, like keys of the dictionary it is not possible to check whether a value belongs to the dictionary or not using the keyword 'in'

In [71]:
934 in horsepower

False

In [72]:
949 in horsepower

False

The values '934' and '949' are considered to be keys in the above cells. Since there are no such keys in the dictionary 'False' is returned.

**items()**

The function item() returns the key along with its value.

In [73]:
horsepower.items()

dict_items([('BMW', 949), ('Mercedes', 945), ('Ferrari', 954), ('Volkswagen', 976), ('Renault ', 889)])

It is possible to access the elements of the dictionary. It can be done as follows:

In [74]:
a = horsepower.items()
a = list(a)
a[1]

('Mercedes', 945)

**pop()**<br>
Remove the element with the specified key name

In [75]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove key from dictionary
year_sales.pop(2015)

year_sales

{2016: 34300, 2017: 40000}

**popitem()**<br>
It removes the last inserted item

In [76]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove last item from the dictionary
year_sales.popitem()

year_sales

{2015: 34500, 2016: 34300}

**del keyword**<br>
delete the item with the specified key name

In [77]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# delete item from the dictionary
del year_sales[2015]

year_sales

{2016: 34300, 2017: 40000}

**clear()**<br>
The clear() keyword empties the entire dictionary

In [78]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# clear the dictionary
year_sales.clear()

year_sales

{}

**Copy()**<br>
You cannot copy a dictionary by using dict2 = dict1, because dict2 will only be a reference to dict1, and changes made in dict1 will also be made in dict2.<br>
Use copy() method to make copy of dictionary

In [79]:
# create a dictionary
year_sales1 = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# make a copy of dictionary
copy_dict = year_sales.copy()

**update()**<br>
Add and modify dictionaries by using the dict.update() method

In [80]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# update dictionary
year_sales.update({2018:30000})

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, 2018: 30000}

<a id="sets"> </a>
## Introduction to Sets
<table align="left">
    <tr>
        <td width="15%">
            <img src="note.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>It is a collection of unique items.<br> 
                    It is used to eliminate duplicate items from a list.<br>
                    Also, it supports set operations like union intersection and difference.                    
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

### Creating Set
In Python sets are written with curly brackets

In [81]:
# create a set
age_set = {11, 12, 31, 13, 24, 32, 33, 21, 23, 12}
print (age_set)

# create a set
set([1, 2, 3, 4])

{32, 33, 11, 12, 13, 21, 23, 24, 31}

{1, 2, 3, 4}

<table align="left">
    <tr>
        <td width="7%">
            <img src="caution.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>Observed that the set contains unique items only even though we put duplicates into it
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

A set can contain elements of different data types

In [82]:
# create a set
new_set = {12, 12, 'python', 4, 'world'}

# print
new_set

{12, 4, 'python', 'world'}

Following are the methods that you can use on sets:<br>
add()<br>
update()<br>
len()<br>
remove()<br>
pop()<br>

### Change Items
Once a set is created, you cannot modify its items, but you can add new items

**Add Items**<br>
Use add() method to add one item to a set<br>
Use update() method to add more than one item

In [83]:
# create a set
my_set = {'python','world'}

# add element
my_set.add("hi")

my_set

{'hi', 'python', 'world'}

Add multiple items to a set

In [84]:
# create a set
my_set = {'python','world'}

# update the set
my_set.update(['data science', 'machine learning'])

my_set

{'data science', 'machine learning', 'python', 'world'}

**Length of Set**

In [85]:
# create a set
my_set = {'python','world'}

# print the length of set
len(my_set)

2

**remove() method**<br>
Use remove() or discard() method to remove an item in a set

In [86]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove element from list 
my_set.remove('data science')

my_set

{'machine learning', 'python', 'world'}

**pop() method**<br>
It removes a random element from the set and returns the removed element

In [87]:
# create a set
my_set = {'data science', 'machine learning', 'python', 'world'}

# remove random element from set 
my_set.pop()

'world'

In [88]:
# create a set
my_set1 = {1,2,3,"data", "science"}

# remove random element from set
my_set1.pop()

1

### Set Operations

**Disjoint set**: if the two sets have no common elements

In [89]:
print (set([11, 12, 22, 33, 4]).isdisjoint(set([4, 1])))

False

**Checking for subset**<br>
Use issubset() method to check whether all elements of a set are contained in another set

In [90]:
# check whether one set 'a' is a subset of the 'b'
a = set([1, 3, 4, 5])
b = set([1, 3, 4, 5, 6])
print('Is a subset of b?', a.issubset(b))

Is a subset of b? True

**Set Union**<br>
Use union() method to compute the union of two or more sets

In [91]:
a = set([1, 2, 3])
b = set([3, 4, 5, 6])
print (a.union(b))

{1, 2, 3, 4, 5, 6}

**Set Intersection**<br>
Take intersection to find the common elements

In [92]:
a = set([12,34,56,78])
b = set([12,45,67,89,78])
c = set([12,34,56,78,56])
print (a & b)
print(a.intersection(b))
print (a & b & c)

{12, 78}
{12, 78}
{12, 78}

**Set Difference**<br>
It returns a new set containing all items from the first set that are not in the other set

In [93]:
a = set([23,45,56,77,89])
b = set([23,45,54,33,23])
print(a - b)
print(a.difference(b))

{56, 89, 77}
{56, 89, 77}