<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Inclass-Lab<br>(Week 1)
                    </b>
                </font>
            </div>
        </td>
        <td width="25%">
            <img src="NEW_GL_Logo.png">
        </td>
    </tr>
</table>

## Table of Content

1. **[Operators](#boolean)**
2. **[Data Structures](#dstruct)**
    - **[Lists](#list)**
    - **[Tuples](#tuple)**
    - **[Sets](#set)**
    - **[Dictionaries](#dict)**

### Let's begin with some hands-on practice exercises

<a id="boolean"></a>
## 1. Operators

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Calculate BMI of a person (take input for height and weight from user). Note:BMI=weight/height^2.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
height = float(input("Height in M: "))
weight = float(input("Weight in KG: "))

BMI = weight / (height ** 2)

Height in M: 1
Weight in KG: 60

In [2]:
BMI

60.0

In [7]:
10 + 5
5 + 7
5 + 9

14

In [5]:
print(10 + 5)

15

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Check whether the expression (54+34)* 45 is equal to the expression (0.9*2432)/0.9 </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
# type your code here
(54+34)* 45 == (0.9*2432)/0.9

False

<a id="dstruct"> </a>
## 2. Data Structures

<a id="list"> </a>
### 1. Lists

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Write a code to retrieve elements from a list<br><br>
                       a. First element<br>
                       b. Second last element<br>
                       c. First three elements<br>
                       d. Slice the list from 1st index till the last index with an increment of an index by 2
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

mix_list = ['Python', 1, 2, 3, 'Data', True]

**a. First element**

In [8]:
mix_list = ['Python', 1, 2, 3, 'Data', True]

In [9]:
print(mix_list[0])
print(mix_list[-1])

Python
True

In [10]:
mix_list[:3]

['Python', 1, 2]

In [11]:
mix_list[1::2]

[1, 3, True]

**b. Second last element**

In [12]:
mix_list[-2]

'Data'

**c. First three elements**

In [13]:
mix_list[:3]

['Python', 1, 2]

**d. Slice the list from 1st index till the last index with an increment of an index by 2**

In [14]:
mix_list[1::2] # starting : 1, end : lenofList, stepsize : 2

[1, 3, True]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a program to perform following built-in list operations:<br><br>
                        a. Min(list)<br>
                        b. Max(list)<br>
                        c. Sort the elements (use sort() and sorted() function)<br>
                        d. Create a copy of a list<br>
                        e. Remove element '5' from the list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below list**

num_list = [4, 5, 7, -2, 0, 1]

**a. Min(list)**

In [16]:
num_list = [4, 5, 7, -2, 0, 1]
min(num_list)

-2

**b. Max(list)**

In [17]:
max(num_list)

7

**c. Sort the elements (use sort() and sorted() function)**

#### sort vs sorted

sort: Sort function from list data structure, which can sort the value in asc or desc order, and it will change the orignial list and it is applicable only for list data structure

sorted: Sorted function from Python, it is applicable for List, tuple, set, string etc, it will not change the original object like sort function does, it will sort the data in asc or desc and return the output in the form of list data structure.

In [18]:
lst = [4,7,9,0,-2,10,40,-20]

In [19]:
sorted(lst)

[-20, -2, 0, 4, 7, 9, 10, 40]

In [22]:
lst

[4, 7, 9, 0, -2, 10, 40, -20]

In [21]:
sorted(lst, reverse=True)

[40, 10, 9, 7, 4, 0, -2, -20]

In [23]:
# list sort
lst.sort()

In [24]:
lst

[-20, -2, 0, 4, 7, 9, 10, 40]

In [25]:
lst.sort(reverse=True)

In [26]:
lst

[40, 10, 9, 7, 4, 0, -2, -20]

In [27]:
sorted("abhishek")

['a', 'b', 'e', 'h', 'h', 'i', 'k', 's']

In [28]:
tup = (10,20,40,2,6,8,20)
sorted(tup,reverse=True)

[40, 20, 20, 10, 8, 6, 2]

In [29]:
mix_list.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [33]:
num_list.sort()

In [34]:
num_list

[-2, 0, 1, 4, 5, 7]

In [30]:
mix_list

['Python', 1, 2, 3, 'Data', True]

In [31]:
sorted(mix_list)

TypeError: '<' not supported between instances of 'int' and 'str'

**d. Create a copy of a list**

In [32]:
copy_mix_list = mix_list.copy()

**e. Remove element '5' from the list**

In [35]:
num_list

[-2, 0, 1, 4, 5, 7]

In [36]:
num_list = [4, 5, 7, -2, 0, 1]
num_list.remove(5)

In [37]:
num_list

[-2, 0, 1, 4, 7]

In [41]:
num_list = [-2, 0, 1, 4, 5, 7]

In [40]:
num_list.pop(4)

5

In [43]:
num_list.pop(-2)

5

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Manipulating a list:<br><br>
                        a. Add a new element 'Data' in the given list<br>
                        b. Add elements 'Excel' and 'Data' in the given list<br>
                        c. Replace an element 'C' with 'C++' in the given list<br>
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Use the below list

languages_list = ['R', 'Python', 'C', 'Java']

**a. Add a new element 'Data' in the given list**

In [44]:
languages_list = ['R', 'Python', 'C', 'Java']
languages_list.append("Data")

In [45]:
languages_list

['R', 'Python', 'C', 'Java', 'Data']

**b. Add elements 'Excel' and 'Data' in the given list**

In [46]:
languages_list.extend(['Excel','Data'])

In [47]:
languages_list

['R', 'Python', 'C', 'Java', 'Data', 'Excel', 'Data']

**c. Replace an element 'C' with 'C++' in the given list**

In [50]:
languages_list[languages_list.index("C")] = 'C++'

In [51]:
languages_list

['R', 'Python', 'C++', 'Java', 'Data', 'Excel', 'Data']

<a id="tuple"> </a>
### 2. Tuples

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a code to perform operations on tuple:<br><br>
                        a. Check the length of num_tuple<br>
                        b. Concatenate the num_tuple and mix_tuple<br>
                        c. Repeat the mix_tuple two times
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Tuples to perform operations:**

num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

**a. Check the length of num_tuple**

In [52]:
num_tuple = (4, 4, 8)

mix_tuple = 'John', 5, -2

In [53]:
len(num_tuple)

3

**b. Concatenate the num_tuple and mix_tuple**

In [54]:
num_tuple + mix_tuple

(4, 4, 8, 'John', 5, -2)

**c. Repeat the mix_tuple two times**

In [56]:
mix_tuple * 2

('John', 5, -2, 'John', 5, -2)

<a id="set"> </a>
### 3. Sets

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write the program to perform following manipulations:<br><br>
                        a. Add '7' to the given set<br>
                        b. Remove '3' from a given set<br>
                        c. Clear the set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set for manipulation**

num_set = {1, 2, 3, 4, 5, 6}

**a. Add '7' to the given set**

In [57]:
num_set = {1, 2, 3, 4, 5, 6}
num_set.add(7)

In [58]:
num_set

{1, 2, 3, 4, 5, 6, 7}

**b. Remove '3' from a given set**

### Set Discard and Remove

Set Discard does not raise any error if element is not found, remove raised an error if element is not found.

In [59]:
num_set

{1, 2, 3, 4, 5, 6, 7}

In [60]:
num_set.discard("Modi")

In [61]:
num_set.remove("Modi")

KeyError: 'Modi'

In [62]:
num_set.remove(3)

In [63]:
num_set

{1, 2, 4, 5, 6, 7}

**c. Clear the set**

In [65]:
num_set.clear()

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to perform following set operations:<br><br>
                        a. Union<br> 
                        b. Intersection<br>
                        c. Set of all the elements of set A that are not in set B<br>
                        d. Set of all the elements of set B that are not in set A<br>
                        e. Symmetric difference
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below set:**

A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

**a. Union**

In [67]:
A = {1, 4, 5, 2, 6, 3, 40, 7, 87, 4, 71}

B = {3, 42, 51, 6, 7, 8, 54, 5}

A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 40, 42, 51, 54, 71, 87}

**b. Intersection**

In [68]:
A.intersection(B)

{3, 5, 6, 7}

**c. Set of all the elements of set A that are not in set B**

In [69]:
A.difference(B)

{1, 2, 4, 40, 71, 87}

**d. Set of all the elements of set B that are not in set A**

In [70]:
B - A

{8, 42, 51, 54}

**e. Symmetric difference**

In [71]:
A.symmetric_difference(B)

{1, 2, 4, 8, 40, 42, 51, 54, 71, 87}

<a id="dict"> </a>
### 4. Dictionaries

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to perform following dictionary operations:<br><br>
                        a. Add a key-value pair to a dictionary<br> 
                        b. Retrieve the keys and values from the dictionary<br>
                        c. Create a new dictionary using keys and values
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the given dictionary and add a key (4:16)**

square_dictionary = {1:1, 2:4, 3:9}

**a. Add the key-value pair to the dictionary above**

In [72]:
square_dictionary = {1:1, 2:4, 3:9}
square_dictionary.update({10:100})

In [73]:
square_dictionary

{1: 1, 2: 4, 3: 9, 10: 100}

In [74]:
square_dictionary["India"] = "Delhi"

In [75]:
square_dictionary

{1: 1, 2: 4, 3: 9, 10: 100, 'India': 'Delhi'}

**b. Retrieve the keys and values from the previous deictionary**

In [77]:
print(square_dictionary.keys())
print(square_dictionary.values())

dict_keys([1, 2, 3, 10, 'India'])
dict_values([1, 4, 9, 100, 'Delhi'])

**c. Create a new dictionary using the keys and values obtained from the previous dictionary**

In [78]:
square_dictionary

{1: 1, 2: 4, 3: 9, 10: 100, 'India': 'Delhi'}

In [79]:
k = square_dictionary.keys()

In [80]:
k

dict_keys([1, 2, 3, 10, 'India'])

In [81]:
v = square_dictionary.values()

In [82]:
v

dict_values([1, 4, 9, 100, 'Delhi'])

In [83]:
print(k, v)

dict_keys([1, 2, 3, 10, 'India']) dict_values([1, 4, 9, 100, 'Delhi'])

In [84]:
dict(k,v)

TypeError: dict expected at most 1 argument, got 2

In [85]:
dict(zip(k,v))

{1: 1, 2: 4, 3: 9, 10: 100, 'India': 'Delhi'}

In [86]:
for pair in zip(k,v):
    print(pair)

(1, 1)
(2, 4)
(3, 9)
(10, 100)
('India', 'Delhi')