### Conditional Statement

* if
* if else
* elif
* nested if elif and else

In [4]:
age = int(input("Enter your age: "))
if age >= 18:
    print("Eligible for Vote")
else:
    print("NA!!!")

Enter your age: 17
NA!!!

In [7]:
number = int(input("Enter a number: "))
if number > 0:
    print("Positive")
elif number == 0:
    print("Zero")
else:
    print("Negative")

Enter a number: -10
Negative

In [10]:
number = int(input("Enter a number: ")) # 0
if number >= 0:
    if number == 0:
        print("Zero")
    else:
        print("Positive")
else:
    print("Negative")

Enter a number: 0
Zero

In [11]:
lstOfNumbers = [10,-20,0,2,5,7,-3,-5,-34,45,23,60,0,0,45,6,88,99,90,0]

In [12]:
positive_num = []; negative_num = []; zero = []

In [14]:
for num in lstOfNumbers:
    if num > 0:
        positive_num.append(num)
    elif num == 0:
        zero.append(num)
    else:
        negative_num.append(num)

In [15]:
positive_num

[10, 2, 5, 7, 45, 23, 60, 45, 6, 88, 99, 90]

In [16]:
zero

[0, 0, 0, 0]

In [17]:
negative_num

[-20, -3, -5, -34]

In [18]:
print(positive_num, negative_num, zero)

[10, 2, 5, 7, 45, 23, 60, 45, 6, 88, 99, 90] [-20, -3, -5, -34] [0, 0, 0, 0]

In [19]:
import numpy as np

In [23]:
mobile_number = list(np.random.randint(low = 8888888888, high = 9999999999, 
                                       size = 50, dtype = 'int64'))

In [24]:
print(mobile_number)

[9609409727, 9889269509, 9255723155, 8967594273, 9190440591, 9129783090, 9442832905, 9926707369, 9114352502, 9182770763, 9827383256, 9517633466, 9908936421, 9234428837, 9581190424, 9688953191, 9507380334, 8921923682, 9778713460, 9106755272, 9352767039, 9507213566, 9182185931, 8903397051, 9546830471, 9683984026, 9181374330, 8945877486, 9035736301, 9621843323, 9727838233, 9769995926, 9322741997, 9449411498, 9554088239, 9614001352, 9374038760, 9147425749, 9982348049, 9123608762, 9699029462, 8937498297, 9459473268, 9246672774, 9866348642, 9856362504, 9475789876, 8914531203, 8921267376, 9186262663]

In [25]:
lst_Mobile_Number = [9609409727, "9889269509", 9255723155, 8967594273, 9190440591, 
                     9129783090, 9442832905, 9926707369, 9114352502, 9182770763,
                     9827383256, 9817633466, 990896421, 9234428837, 9581190424,
                     9688953191, 9507380334, 8921923682, 9778713460, 9106755272,
                     "9952767O39", 9507213566, 9182185931, 9903397051, 9546830471,
                     9683984026, 9181374330, "99458I7486", 9035736301, 9621843323,
                     9727838233, 9769995926, 9322741997, 9449411498, 995408239,
                     9614001352, 9374038760, 9147425749, 9982348049, 9123608762,
                     9699029462, 983749897, "9859473268", 9246672774, 9866348642]

### Goal
* Find the valid mobile number:
    * Valid if all are numbers (in Mobile number)
    * Valid if the length of mobile number should be 10
    * Valid if number starts from either 99 or 98

In [26]:
print(lst_Mobile_Number)

[9609409727, '9889269509', 9255723155, 8967594273, 9190440591, 9129783090, 9442832905, 9926707369, 9114352502, 9182770763, 9827383256, 9817633466, 990896421, 9234428837, 9581190424, 9688953191, 9507380334, 8921923682, 9778713460, 9106755272, '9952767O39', 9507213566, 9182185931, 9903397051, 9546830471, 9683984026, 9181374330, '99458I7486', 9035736301, 9621843323, 9727838233, 9769995926, 9322741997, 9449411498, 995408239, 9614001352, 9374038760, 9147425749, 9982348049, 9123608762, 9699029462, 983749897, '9859473268', 9246672774, 9866348642]

In [28]:
len("228393298")

9

In [37]:
for m in lst_Mobile_Number:
    if len(str(m)) == 10 and str(m).isnumeric():
        if str(m)[:2] == "99" or str(m)[:2] == "98":
            print(m, end = " ")

9889269509 9926707369 9827383256 9817633466 9903397051 9982348049 9859473268 9866348642

In [45]:
m = "997678U896" # isnumeric function from string only of Python

In [46]:
m.isnumeric()

False

In [36]:
m.isnumeric()

True

In [41]:
for m in lst_Mobile_Number:
    print(str(m)[:2])
    break

96

In [42]:
str(m)[:2]

'96'

In [47]:
for m in lst_Mobile_Number:
    if (len(str(m)) == 10 and str(m).isnumeric()) and (str(m)[:2] == "99" or str(m)[:2] == "98"):
            print(m, end = " ")

9889269509 9926707369 9827383256 9817633466 9903397051 9982348049 9859473268 9866348642

AttributeError: 'int' object has no attribute 'isnumeric'

In [50]:
for m in lst_Mobile_Number:
    m1 = str(m)
    if len(m1) == 10 and m1.isnumeric():
        if m1[:2] == "99" or m1[:2] == "98":
            print(m1, end = " ")

9889269509 9926707369 9827383256 9817633466 9903397051 9982348049 9859473268 9866348642

In [ ]:
for m in lst_Mobile_Number:
    if (len(str(m)) == 10 and str(m).isnumeric()) and (str(m)[:2] == "99" or str(m)[:2] == "98"):
            print(m, end = " ")

In [51]:
[m for m in lst_Mobile_Number if (len(str(m)) == 10 and str(m).isnumeric()) and (str(m)[:2] == "99" or str(m)[:2] == "98")]

['9889269509',
 9926707369,
 9827383256,
 9817633466,
 9903397051,
 9982348049,
 '9859473268',
 9866348642]

### Note:

Cell number 53 and 58, both answers having same execution but approach is different from each other.

In [53]:
scores = [95,84,67,59,40,75,76,88,80]
for score in scores:
    if score >= 90:
        print(f"Score {score}: Grade A")
    else:
        if score >= 75:
            print(f"Score {score}: Grade B")
        else:
            if score >= 60:
                print(f"Score {score}: Grade C")
            else:
                print(f"Score {score}: Grade D")

Score 95: Grade A
Score 84: Grade B
Score 67: Grade C
Score 59: Grade D
Score 40: Grade D
Score 75: Grade B
Score 76: Grade B
Score 88: Grade B
Score 80: Grade B

In [54]:
scores

[95, 84, 67, 59, 40, 75, 76, 88, 80]

In [58]:
for num in scores:
    if num >= 90:
        print("Grade A")
    elif num >= 75 and num < 90:
        print("Grade B")
    elif num >= 60 and num < 75:
        print("Grade C")
    else:
        print("Grade D")

Grade A
Grade B
Grade C
Grade D
Grade D
Grade B
Grade B
Grade B
Grade B

In [60]:
basket = [
    {"item" : 'apple', 'category' : 'fruit', "price" : 1},
    {"item" : 'milk', 'category' : 'dairy', "price" : 2},
    {"item" : "bread", "category" : "bakery", "price" : 3},
    {"item" : "cheese", "category" : 'dairy', "price" : 5}
]

In [61]:
basket

[{'item': 'apple', 'category': 'fruit', 'price': 1},
 {'item': 'milk', 'category': 'dairy', 'price': 2},
 {'item': 'bread', 'category': 'bakery', 'price': 3},
 {'item': 'cheese', 'category': 'dairy', 'price': 5}]

In [67]:
basket[0]['category']

'fruit'

In [68]:
for item in basket:
    if item['category'] == 'dairy':
        if item['price'] > 3:
            print(f"{item['item']} is a dairy product and is expensive")
        else:
            print(f"{item['item']} is a dairy product and is affordable.")
    elif item['category'] == 'fruit':
        print(f"{item['item']} is a fruit.")
    else:
        print(f"{item['item']} belongs to other categories.")

apple is a fruit.
milk is a dairy product and is affordable.
bread belongs to other categories.
cheese is a dairy product and is expensive

In [69]:
a = 10; b = 20

In [70]:
print("The value of a is :", a, "The value of b is :", b)

The value of a is : 10 The value of b is : 20

In [71]:
print("The value of a and b is : ", a, b)

The value of a and b is :  10 20

In [73]:
print(a)
print(b)

10
20

In [74]:
print("The value of a is {} and b is {}")

The value of a is {} and b is {}

### F-String and Format String

In [76]:
print(f"The value of a is {a} and b is {b}")

The value of a is 10 and b is 20

In [77]:
item['category']

'dairy'

In [80]:
print(f"My category was {item['category']}")

My category was dairy

In [83]:
print("The value of a is {0} and b is {1}".format(a,b))

The value of a is 10 and b is 20

In [84]:
print("The value of a is {1} and b is {0}".format(a,b))

The value of a is 20 and b is 10

### Can you generate Prime number using For Loop between based on user's choice. user can choose lower number and higher number, in between lower and higher generate prime number

A prime can be divided completely by 1 or itself.

In [90]:
lower = int(input("Enter a lower number: "))
upper = int(input("Enter a upper number: "))
is_Divisible = True # flag variable

for num in range(lower, upper+1):
    print("My Number: " ,num)
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        print("Prime Number: ", num)

Enter a lower number: 10
Enter a upper number: 15
My Number:  10
My Number:  11
Prime Number:  11
My Number:  12
My Number:  13
Prime Number:  13
My Number:  14
My Number:  15

In [91]:
for i in range(2,11):
    print(i)

2
3
4
5
6
7
8
9
10

In [92]:
i

10

In [93]:
num

15

In [94]:
for char in list("Karan"):
    print(char)

K
a
r
a
n

In [95]:
char

'n'

In [99]:
lower = int(input("Enter a lower number: "))
upper = int(input("Enter a upper number: "))

for num in range(lower, upper+1):
    for i in range(2, num):
        if num % i == 0:
            print(i, end = " ")
    else:
        print(num)

Enter a lower number: 10
Enter a upper number: 19
2 5 2 3 4 6 2 7 3 5 2 4 8 2 3 6 9

In [ ]:
for num in range(10, 19):
    for i in range(2, num):
        if num % i == 0:
            print(i, end = " ")
        else:
            print(num)
    else:
        print(num)

In [100]:
num = [10,11,34,56,7,8]
for i in num:
    print(i)
else:
    print("No number left in the list.")

10
11
34
56
7
8
No number left in the list.

In [101]:
i = 1
while i <= 10:
    print(i)
    i = i + 1
else:
    print("Loop terminated")

1
2
3
4
5
6
7
8
9
10
Loop terminated

### Python programming

Else : can be utlized with if and with loop concept

In [104]:
# check prime number or not, if the number is not a prime number then generate its factors

num = int(input("Please enter a number: "))
isDivisible = False
i = 2
while i < num:
    if num % i == 0:
        isDivisible = True
        print(f"{num} is divisible by {i}.")
    i = i + 1
if isDivisible:
    print(f"{num} is not a prime number.")
else:
    print(f"{num} is a prime number.")

Please enter a number: 31
31 is not a prime number.

In [113]:
import calendar
print(calendar.month(2024,11))

isDivisble = False

# 1st of Nov: 5KM, <= 20 Minutes : isDivisble = True

   November 2024
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [111]:
# check prime number or not, if the number is not a prime number then generate its factors

num = int(input("Please enter a number: "))
isDivisible = "Fail"
i = 2
while i < num:
    if num % i == 0:
        isDivisible = "Pass"
        print(f"{num} is divisible by {i}.")
    i = i + 1
if isDivisible == "Pass":
    print(f"{num} is not a prime number.")
else:
    print(f"{num} is a prime number.")

Please enter a number: 10
10 is divisible by 2.
10 is divisible by 5.
10 is not a prime number.

In [110]:
isDivisible

'Fail'

In [112]:
isDivisible

'Pass'

### Range Function and few example of While Loop
### In Class Exercise
### List Comprehension

### Python Range Function

* Starts Position
* Ends Position (always exclusive)
* Step Size

In [114]:
range(5)

range(0, 5)

In [115]:
list(range(5))

[0, 1, 2, 3, 4]

In [116]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [117]:
list(range(2,10,1))

[2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
list(range(2,20,3))

[2, 5, 8, 11, 14, 17]

In [120]:
list(range(20,0,-1))

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### While Loop

This is the loop first checks the condition then print the statment

In [121]:
lst = [1,4,6,1,2,2]

In [122]:
i = 0; product = 1
while i < len(lst):
    product = product * lst[i]
    i =  i + 1

In [123]:
product

96

In [125]:
lstOfNumber = [10,20,44,55,67,89,76,34,45,13,37,79,56,78,34,55,77,89]

In [131]:
odd = []; even = []
i = 0
while i < len(lstOfNumber):
    if lstOfNumber[i] % 2 == 0:
        even.append(lstOfNumber[i])
    else:
        odd.append(lstOfNumber[i])
    i = i + 1

In [132]:
even

[10, 20, 44, 76, 34, 56, 78, 34]

In [133]:
odd

[55, 67, 89, 45, 13, 37, 79, 55, 77, 89]

In [136]:
lst = [10,20,44,55,67,89,76,34,45,13,37,79,56,78,34,55,77,89]
i = len(lst) - 1
while i >= 0:
    print(lst[i], end = " ")
    i = i - 1

89 77 55 34 78 56 79 37 13 45 34 76 89 67 55 44 20 10

In [148]:
num = int(input("Please enter a number: "))
amicable1 = []
isDivisible = "Fail"
i = 1
while i < num:
    if num % i == 0:
        isDivisible = "Pass"
        amicable1.append(i)
        
    i = i + 1
if isDivisible == "Pass":
    print(f"{num} is not a prime number.")
else:
    print(f"{num} is a prime number.")

Please enter a number: 284
284 is not a prime number.

In [146]:
print(amicable)

[1, 2, 4, 5, 10, 11, 20, 22, 44, 55, 110]

In [147]:
sum(amicable)

284

In [149]:
print(amicable1)

[1, 2, 4, 71, 142]

In [150]:
sum(amicable1)

220

In [151]:
sum(amicable)

284

In [156]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
sum_factor_1 = 0
sum_factor_2 = 0

for i in range(1, num1):
    if num1 % i == 0:
        sum_factor_1 = sum_factor_1 + i
        print(i)
        
for j in range(1, num2):
    if num2 % j == 0:
        sum_factor_2 = sum_factor_2 + j
        print(j)
        
if (sum_factor_1 == num2 and sum_factor_2 == num1):
    print(f"the numbers {num1} and {num2} are amicable.")
else:
    print(f"the numbers {num1} and {num2} are not amicable.")
    
print(sum_factor_1, sum_factor_2)

Enter the first number: 220
Enter the second number: 284
1
2
4
5
10
11
20
22
44
55
110
1
2
4
71
142
the numbers 220 and 284 are amicable.
284 220