In [1]:
dct = {'d':5, "a" : 4, "b": 3,"c":10}

In [2]:
dct

{'d': 5, 'a': 4, 'b': 3, 'c': 10}

In [3]:
dict(sorted(dct.items()))

{'a': 4, 'b': 3, 'c': 10, 'd': 5}

In [8]:
sort = dict(sorted(dct.items(), key = lambda item: item[1]))

In [9]:
print(sort)

{'b': 3, 'a': 4, 'd': 5, 'c': 10}

### Python Function

Function is a group of statements that perform a specific task.

Functions are the important concept for every programming which violated the DRY
principle (Dont Repeat YourSelf)

We can define the function in Python programming using <b> def </b> keyword.

### Syntax 

def functionName(p1,p2..pn)
    doc_string
    'statementn
    return statement

### User Defined Function | System Defined Function

In [10]:
def who_are_you():
    '''This is a normal function which describes the syntax of a function.'''
    print("I am a ordinary function.")

### Function calling

In [11]:
who_are_you()

I am a ordinary function.

In [12]:
who_are_you.__doc__

'This is a normal function which describes the syntax of a function.'

In [16]:
def greetings(msg):
    print(f"Welcome to {msg}")

In [18]:
txt = "Python Programming"
greetings(txt)

Welcome to Python Programming

In [19]:
greetings("Great Learning!!!")

Welcome to Great Learning!!!

### Creating a function with parameters and return the value

In [47]:
def calc_sum(a,b):
    '''This function will takes 2 input as a number and return an output in the form of sum.'''
    add = a + b
    print(f"Total: {add}") # displays the sum to the user
    return add # Makes the sum available for further use

In [32]:
calc_sum(10,45)

Total: 55

55

In [33]:
calc_sum(34,67)

Total: 101

101

In [26]:
print("Hello Abhisheak")

Hello Abhisheak

In [27]:
a = print("Hello Abhisheak")

Hello Abhisheak

In [28]:
a

In [34]:
result = calc_sum(10,20)

Total: 30

In [35]:
result

30

### Note:

Print just displaying the msg to the user as an output only. Where as return is returnin an output of that function, and that output we can store in a variable for future purpose.

In a function, we can utilize as many print statement, but we can define
the return statement only one time.

In [37]:
def calc_sum(a,b):
    '''This function will takes 2 input as a number and return an output in the form of sum.'''
    add = a + b
    print(f"Total: {add}")

In [38]:
a = 20

In [39]:
a + calc_sum(5,5)

Total: 10

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [40]:
a = calc_sum(5,5)

Total: 10

In [41]:
type(a)

NoneType

In [42]:
def calc_sum1(a,b):
    '''This function will takes 2 input as a number and return an output in the form of sum.'''
    add = a + b
    return add

In [44]:
a = 20

In [45]:
a

20

In [46]:
a + calc_sum1(5,5)

30


print is just for output and return is just for utilize the output in other expressions

In [48]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print(f"{number} is even")
else:
    print(f"{number} is odd")

Enter a number: 10
10 is even

In [49]:
# now how to convert above code in Python function
def even_odd():
    number = int(input("Enter a number: "))
    if number % 2 == 0:
        print(f"{number} is even")
    else:
        print(f"{number} is odd")

In [50]:
even_odd()

Enter a number: 11
11 is odd

In [51]:
def sum_even(lst):
    evenlst = []
    for n in lst:
        if n % 2 == 0:
            evenlst.append(n)
    return evenlst

In [52]:
num = [2,4,5,6,7,8,10,33,44,55,12,36,78]

In [54]:
sum(sum_even(num))

200

In [55]:
def sum_even1(lst):
    evenlst = []
    for n in lst:
        if n % 2 == 0:
            evenlst.append(n)
    print(evenlst)

In [57]:
sum(sum_even1(num))

[2, 4, 6, 8, 10, 44, 12, 36, 78]

TypeError: 'NoneType' object is not iterable

### Return multiple values from a single function

In [58]:
def arithmetic_operations(num1, num2):
    add = num1 + num2
    sub = num1 - num2
    div = num1 / num2
    mul = num1 * num2
    return add, sub, div, mul

In [59]:
arithmetic_operations(2,5)

(7, -3, 0.4, 10)

In [60]:
a,b,c,d = arithmetic_operations(2,5)

In [61]:
a

7

In [62]:
b

-3

In [63]:
c

0.4

In [64]:
d

10

In [66]:
print("Addition: ", a)
print("Subtraction: ", b)
print("Division: ", c)
print("Multiplication: ", d)

Addition:  7
Subtraction:  -3
Division:  0.4
Multiplication:  10

In [67]:
def generate_prime_number(lower,upper):
    is_Divisible = True # flag variable

    for num in range(lower, upper+1):
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print("Prime Number: ", num)

In [68]:
generate_prime_number(10,30)

Prime Number:  11
Prime Number:  13
Prime Number:  17
Prime Number:  19
Prime Number:  23
Prime Number:  29

### You have some sales data, based on sales please create a bucket

* sales between 0 - 500      : sales 0 - 500
* sales between 500 - 1000   : sales 500 - 1000
* sales between 1000 - 5000  : sales 1000 - 5000 else sales > 5000

Q. Create a function which calculates the bucket based on sales.

In [75]:
def sales(x):
    if 0<= x <=500:
        print("Sales in the range 0 to 500")
    elif 500<x<=1000:
        print("Sales in the range 501 to 1000")
    elif 1000<x<=5000:
        print("Sales in the range 1001 to 5000")
    else:
        print("Greater than 5000")

sales(7000)

Greater than 5000

In [76]:
lstOfNumber = [56,56,30,44,56,47,44,56,87,90,25,67,82]

In [77]:
def get_unique(lst):
    unique_item = []
    for num in lst:
        if num not in unique_item:
            unique_item.append(num)
    return unique_item

In [81]:
sorted(get_unique(lstOfNumber))

[25, 30, 44, 47, 56, 67, 82, 87, 90]

In [82]:
sorted(list(set(lstOfNumber)))

[25, 30, 44, 47, 56, 67, 82, 87, 90]

### *args and **kwargs

### *args (arguments)

In [83]:
def get_result(*great):
    for item in great:
        print(item)

In [86]:
get_result('Abhishek',"Karan","Shreya","Reshma","Ankit")

Abhishek
Karan
Shreya
Reshma
Ankit

In [87]:
def addition(*numbers):
    total = 0
    for num in numbers:
        total = total + num
    print("Final sum: ", total)

In [88]:
addition(10,20,30,40,50,60,70,80)

Final sum:  360

In [89]:
addition(2,34)

Final sum:  36

### Note:

If you are not sure how many input I will be supply to the function, based on your requirement
your input variable may differ, in that situation please utilize the concept of args.

### **kwargs (Keyword Arguments)

In [90]:
name = "Reshma"
salary = 3000
grade = "A"
subject = 'Python'
address = "GZB"
age = 29
concept = "Logic"

In [95]:
def get_info(**kwargs):
    print(f"{kwargs['name']} likes {kwargs['subject']}")

In [96]:
get_info(name ="Reshma",age = 29,subject="Python",
         concept = "Logic",address="Delhi")

Reshma likes Python

In [97]:
def totalSales(*args, **kwargs):
    total = sum(args)
    print(f"{kwargs['day']} sales : {total}")

In [98]:
totalSales(100,200,300,400,30,50,70, day = 'Sunday')

Sunday sales : 1150

In [103]:
def totalSales(*args, **kwargs):
    total = sum(args)
    print(f"{kwargs['day']} sales : {total}, of {kwargs['Brand']}")

In [105]:
totalSales(100,200,300,400,30,50,70, day = 'Sunday', Brand = "Nike Shoes")

Sunday sales : 1150, of Nike Shoes

* using args: I can have as many input
* using kwargs: I can have as many keyword input

In [ ]:
def totalmarks(eng,math,scihistory, art, stu1):
    eng =10
    math = 20
    sci = 32

In [ ]:
def totalmarks(*subject,**stu):

In [ ]:
(70,80,90,76,89,stu1 = "A",stu = "B",stu = "C", stu="D")

### Recursive Function

In [106]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1: 
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [107]:
for i in range(10):
    print(f"Fibonacci({i}) = {fibonacci(i)}")

Fibonacci(0) = 0
Fibonacci(1) = 1
Fibonacci(2) = 1
Fibonacci(3) = 2
Fibonacci(4) = 3
Fibonacci(5) = 5
Fibonacci(6) = 8
Fibonacci(7) = 13
Fibonacci(8) = 21
Fibonacci(9) = 34

In [114]:
def sum_list(nums):
    if len(nums) == 0:
        return 0
    last_number = nums.pop()
    print(last_number)
    return last_number + sum_list(nums)

In [115]:
num = [2,3,4,5]

In [116]:
sum_list(num)

5
4
3
2

14

In [112]:
num = [2,3,4,5]

In [113]:
sum(num)

14

In [124]:
def get_unique(lst):
    unique_item = []
    myName = "Karan"
    for num in lst:
        if num not in unique_item:
            unique_item.append(num)
    print(myName)
    return unique_item

In [125]:
get_unique([1,3,4,5,64,23,4,5])

Karan

[1, 3, 4, 5, 64, 23]

In [126]:
myName

NameError: name 'myName' is not defined

In [127]:
def get_unique(lst):
    unique_item = []
    global a
    for num in lst:
        if num not in unique_item:
            unique_item.append(num)
    a = 10
    return unique_item

In [128]:
a

7

In [129]:
counter = 0 # global variable defined outside of the function
def increment_number():
    global counter # here, declare counter variable as global to modify it
    counter = counter + 1
    print(f"Value of counter is {counter}")

In [134]:
increment_number()

Value of counter is 3

In [135]:
counter

3

In [136]:
icounter = 0 
def increment_number():
    icounter = 1 # here, declare counter variable as global to modify it
    icounter = icounter + 1
    print(f"Value of counter is {icounter}")

In [139]:
increment_number()

Value of counter is 2

In [140]:
icounter

0

* Q: How to change your global variable value inside the function?
    * A: Using global keyword