<table align="left" width=100%>
    <tr>
        <td width="10%">
            <img src="in_class.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b>Inclass - Lab<br> (Week 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content
1. **[User-Define Function](#user_define)**
2. **[Lambda Functions](#lambda_functions)**
    - 2.1 [Map Function](#map_function)
    - 2.2 [Filter Function](#filter_function)
    - 2.3 [Reduce Function](#reduce_function)

### Let's begin with some hands-on practice exercises

<a id='user_define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
def evenOdd(number):
    if number % 2 == 0:
        return "Number is even"
    else:
        return "Number is odd"

In [2]:
evenOdd(33)

'Number is odd'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [6]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return (n * factorial(n-1))
print("Factorial of 6! : ", factorial(6))

Factorial of 6! :  720

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [20]:
def check_vowel(a):
    vowels = ["a","e",'i','o','u',"A",'E','I','O','U']
    flag = False
    for v in vowels:
        if v in a:
            flag = True
    print(flag)

In [22]:
check_vowel("GREAT")

True

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [23]:
my_list = [1,2,3,3,11,34,3,3,4,5]
def unique_values(lst):
    x = []
    for a in lst:
        if a not in x:
            x.append(a)
    return x
print(unique_values(my_list))

[1, 2, 3, 11, 34, 4, 5]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>
string2 = 'apple'

In [30]:
string1 = 'AbhisheakSaraswat'
string2 = 'Yaswanth Sai'
def commonChar(str1,str2):
    common = []
    for c in str1:
        if c in str2:
            common.append(c)
    return common
commonChar(string1,string2)

['h', 'i', 's', 'h', 'a', 'S', 'a', 'a', 's', 'w', 'a', 't']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [31]:
def get_sum(lst):
    _sum = 0
    for i in lst:
        _sum = _sum + i
    return _sum

In [33]:
get_sum([34, 34, 55, 2, 56, 45])

226

<a id='lambda_functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [36]:
result = (lambda x, y : x if x < y else y)

In [37]:
result(34,78)

34

<a id='map_function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [39]:
list(map(lambda x: x ** 2, (11,21,20,34)))

[121, 441, 400, 1156]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [41]:
sentence = 'Python for Data Science'
# list(map(len,sentence.split()))
print(list(map(lambda x : len(x), sentence.split())))

[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [43]:
numbers = [ 74, 85, 14, 23 ]
print(list(map(lambda x: x % 5, numbers)))

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [46]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]
list(map(lambda x, y : x + str(y), list1,list2))

['I11',
 'felt22',
 'happy33',
 'because44',
 'I55',
 'saw66',
 'the77',
 'others88',
 'were99']

In [48]:
lst = [2,3,4,5,6,7,8,9]
lst1 = [3,4,5]

In [49]:
list(map(lambda x, y : x + y, lst,lst1))

[5, 7, 9]

<a id='filter_function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

### Note:

Filter function supports the args (*args) which means we can supply multiple arguments if needed.

In [51]:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']
list(filter(lambda x: x in arr1, arr2))

['o', 'i', 't']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [53]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
list(filter(lambda x: x % 2 == 0, numbers))

[110, 352, 278]

In [54]:
def oddnumber(num):
    if num % 2 == 0:
        return True
    else:
        return False
result = filter(oddnumber, numbers)
list(result)

[110, 352, 278]

<a id='reduce_function'></a>
### 2.4 Reduce Function

In [55]:
from functools import reduce

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Calculate the sum of the numbers from 1 to 200<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [56]:
reduce(lambda x, y: x + y, range(1,200))

19900

In [58]:
total = 0
for i in range(1,200):
    total = total + i
print(total)

19900

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [62]:
my_list = [47,11,42,102,13]

In [63]:
func = lambda a, b : a if (a>b) else b

In [64]:
reduce(func, my_list)

102

In [65]:
func = lambda a, b : a if (a<b) else b

In [66]:
reduce(func,my_list)

11

In [68]:
lst = [10,20,30,40,50]
reduce(lambda x, y: y, lst)

50